{{ define "main" }}
<article>
  <h1 id="title">{{ .Title }}</h1>
  {{ if (or (eq .Slug "charta") (eq .Slug "terms") (eq .Slug "imprint") (eq .Slug "privacy")) }}
  <div class="meta text-end">
    <span title="Veröffentlicht"><i class="fas fa-calendar-alt"></i> {{ .Date | time.Format ":date_long" }}</span>
    <span title="Modifiziert"><i class="fas fa-history"></i> {{ .Lastmod | time.Format ":date_long" }}</span>
  </div>
  {{ end }}
  <section id="content">
    {{ .Content }}
    {{ if .Params.Footline }}
    <h4 class="noprefix">{{ .Params.Footline }}</h4>
    {{ end }}
  </section>
  <div class="row mb-3">
    {{ range .Pages }}
    <div class="col-sm-6 mt-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{.Title}}</h5>
          <p class="card-text">{{ .Description }}</p>
          <a href="{{.Permalink}}" class="btn btn-primary float-end">{{ i18n "readmore" }}</a>
        </div>
      </div>
    </div>
  {{ end }}
  </div>
</ul>
</article>
<aside id="toc">
  <div class="title">
    <h2>{{ i18n "toc" }}</h2>
  </div>
  <div class="content">{{ .TableOfContents }}</div>
</aside>
{{ end }}
