{{ define "main" }}
<article class="mb-3">
  {{ if .Params.showParent }}
  <h1 id="title">{{ .Parent.Title }}</h1>
  {{ else }}
  <h1 id="title">{{ .Title }}</h1>
  {{ end }}
  {{ if (or (eq .Slug "charta") (eq .Slug "terms") (eq .Slug "imprint") (eq .Slug "privacy")) }}
  <div class="meta text-end">
    <span title="Veröffentlicht"><i class="fas fa-calendar-alt"></i> {{ .Date | time.Format ":date_long" }}</span>
    <span title="Modifiziert"><i class="fas fa-history"></i> {{ .Lastmod | time.Format ":date_long" }}</span>
  </div>
  {{ end }}
  {{ if .Params.showParent }}
  <section id="content">{{ .Parent.Content }}</section>
  {{ end }}
  <section id="content">{{ .Content }}</section>
</article>
<aside id="toc">
  <div class="title">
    <h2>{{ i18n "toc" }}</h2>
  </div>
  <div class="content">
    {{ if .Params.showParent }}
      {{ .Parent.TableOfContents }}
    {{ end }}
    {{ .TableOfContents }}
  </div>
</aside>
{{ end }}
