@import "variable"
@keyframes animateHeart
  0%
    transform: scale(0.8)
  5%
    transform: scale(0.9)
  10%
    transform: scale(0.8)
  15%
    transform: scale(1)
  50%
    transform: scale(0.8)
  100%
    transform: scale(0.8)


html

  &[data-bs-theme="dark"] .nav-item.theme .nav-link i:after
    content: "\f186"

  &[data-bs-theme="light"] .nav-item.theme .nav-link i:after
    content: "\f185"

  &[bs-theme="auto"] .nav-item.theme .nav-link i:after
    content: "\f042"



body
  height: 100vh
  background: no-repeat center center fixed
  background-size: cover

  @import "parts/body"
  @import "parts/header"
  @import "parts/main"
  @import "parts/footer"


