header

  nav
    background-color: var(--bg-main)

    .navbar-brand

      img
        max-height: 90px
        @media (max-width: 700px){height: 20vw}

    .navbar-nav

      .nav-item

        >a:hover
          border-bottom: 1px var(--brandorange) solid

        &.theme

          .nav-link i
            font-family: "Font Awesome 6 Free"
            font-weight: 900
            font-style: normal

            &::after
              content: "\f042"

        .nav-link i
          font-size: 20px
          line-height: 20px

        .dropdown-menu.show
          right: 0
          left: inherit