main
  margin-top: 110px
  margin-bottom: 25px
  background-color: var(--bg-main)
  border-radius: var(--bs-border-radius-xl)
  padding-top: 10px

  a:not([href^="http://"]):not([href^="https://"])
    color: var(--brandorange)

  &#home
    @media (min-width: 992px){padding: 10px 100px}
    @import "parts/main_home"

  &:not(#home)
    display: flex

    h1
      margin-top: 15px
      margin-left: 40px

    article
      width: 100%

      section

        h1, h2, h3, h4, h5, h6

          &:before
            font-family: "Font Awesome 6 Free"
            font-weight: 900
            margin-right: 8px

        h2
          margin-top: 30px

          &:before
            content: "\f105"  // chevron-right

        h3
          margin-top: 30px
          text-indent: 5px;

          &:before
            content: "\f101"  // angle-right

        h4
          margin-top: 25px
          text-indent: 10px;

          &:before
            content: "\f0da"  // caret-right

        h5
          margin-top: 20px
          text-indent: 15px;

        h6
          margin-top: 15px
          text-indent: 20px;

        pre
          margin: 10px auto
          padding: 10px;
          background-color: rgba(0, 0, 0, 0.4)

          code
            color: rgb(255, 255, 255)

        > *:not(h1, h2, h3, h4, h5, h6)
          margin-left: 40px

        .noprefix:before
          content: none

      &#error
          text-align: center

    aside#toc
      width: 25%
      padding-top: 90px
      @media (max-width: 1000px){display: none}

      a,
      a:hover
        color: inherit
        text-decoration: none

      a:hover
        border-bottom: 1px var(--brandorange) solid

    .regform
      width: 100%
      height: 700px

  &#donate
    #qrCodeContainer
      width: 256px
      height: 256px

  &#hardware_software

    img
      width: 95%