{{ define "main"}}
<div class="row">
  <h1>{{ .Site.Params.welcome }}</h1>
  <p>{{ .Site.Params.description | safeHTML }}</p>
</div>

<h2>Fediverse</h2>
<div class="fediverse row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
  {{ range .Site.Params.fediverse }}
  <div class="col">
    <div class="card">
      <a href="{{ .domain }}">
        <div class="card-body">
          <h5 class="card-title">
            {{if .icon }}
            <i class="{{ .icon }} fa-3x"></i>
            {{ end }}
            {{if .svg }}
            {{ .svg | safeHTML }}
            {{ end }}
            {{if .sso }}
            <i class="ribbon fa-solid fa-key" aria-hidden="true" title="authentik (Single Sign-on)"></i>
            {{ end }}
          </h5>
          <h6 class="card-subtitle mb-2">{{ .name }}</h6>
          <p class="card-text">{{ .discription }}</p>
        </div>
      </a>
    </div>
  </div>
  {{ end }}
</div>
<h2>Frontends</h2>
<div class="tools row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
  {{ range .Site.Params.frontends }}
  <div class="col">
    <div class="card">
      <a href="{{ .domain | safeURL }}">
        <div class="card-body">
          <h5 class="card-title">
            {{if in .icon "fa"}}
            <i class="{{ .icon }} fa-3x"></i>
            {{ end }}
            {{if in .svg "svg"}}
            {{ .svg | safeHTML }}
            {{ end }}
            {{if .sso }}
            <i class="ribbon fa-solid fa-key" aria-hidden="true" title="authentik (Single Sign-on)"></i>
            {{ end }}
          </h5>
          <h6 class="card-subtitle mb-2">{{ .name }}</h6>
          <p class="card-text">{{ .discription }}</p>
        </div>
      </a>
    </div>
  </div>
  {{ end }}
</div>
<h2>Tools</h2>
<div class="tools row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
  {{ range .Site.Params.tools }}
  <div class="col">
    <div class="card">
      <a href="{{ .domain | safeURL }}">
        <div class="card-body">
          <h5 class="card-title">
            {{if in .icon "fa"}}
            <i class="{{ .icon }} fa-3x"></i>
            {{ end }}
            {{if in .svg "svg"}}
            {{ .svg | safeHTML }}
            {{ end }}
            {{if .sso }}
            <i class="ribbon fa-solid fa-key" aria-hidden="true" title="authentik (Single Sign-on)"></i>
            {{ end }}
          </h5>
          <h6 class="card-subtitle mb-2">{{ .name }}</h6>
          <p class="card-text">{{ .discription }}</p>
        </div>
      </a>
    </div>
  </div>
  {{ end }}
</div>
<p class="text-center mb-3">
  <a href="/donate"><i class="fas fa-heart heartbeat fa-9x"></i></a><br />
  {{ .Site.Params.donate | safeHTML }}
</p>
{{ end }}
