<footer class="container">
  <div>
    <label>{{ i18n "poweredby" }} <a href="https://gohugo.io/">Hugo</a></label>
    <label>© {{ .Site.Params.footer.since }} {{ .Site.Params.footer.copyright | safeHTML }}</label>
    {{ if (( .Site.Params.footer.sourcecode )) }}
    <label> - <a href="{{ .Site.Params.footer.sourcecode }}">{{ i18n "sourcecode" }}</a></label>
    {{ end }}
  </div>
</footer>